<div class="span8 alert">
  <%= form_for @company,:url=>"home/valid",:builder => DistrictCnSelector::Helpers::FormBuilder, :html => {:class => 'form-horizontal'} do |f| %>
    <legend>form_for</legend>
    <%= f.district_select_ul :region_code %>
    <%= f.district_select :loc_code %>
    <div class="form-actions">
      <%= f.submit "提交", :class => "btn btn-success" %>
    </div>
  <% end %>
</div>
